@import '../../app/variable.module.scss';

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
  border: 1px solid $orange;
  background-color: $grey;
  width: 450px;
  row-gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 30px;
}

.label {
  display: flex;
  flex-direction: column;
  color: #fff;
  row-gap: 10px;
}

.input {
  color: #000;
  background-color: #e2e2e2;
  width: 350px;
  border-radius: 10px;
  outline: 2px solid $orange;
  border: 0;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

.input:focus {
  outline: 2px solid $orange;
  outline-offset: 5px;
  background-color: #fff;
}

.submit {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: $orange;
}

.errorMsg {
  color: red;
  font-size: 16px;
  line-height: 22px;
  width: 300px;
}

.link {
  padding: 15px;
  color: $blue;
}

.logoText {
  display: flex;
  column-gap: 10px;
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
}

.logo {
  color: $blue;
  font-size: 40px;
}
