@import '../../app/variable.module.scss';

.themeSwitch {
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 90px;
  background-color: $black;
  border-radius: 10px;
  padding: 10px 20px;
  &.light {
    color: black;
    background-color: white;
  }
}
