@import '../../../app/variable.module.scss';

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalTitle {
  font-size: 20px;
  margin-bottom: 10px;
  &.light {
    color: #000;
  }
}

.modalLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 10px;
}

.modalSelect {
  background-color: $grey;
  border: 2px solid $orange;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &.light {
    background-color: #fff;
    color: #000;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modalDescription {
  background-color: $grey;
  border: 2px solid $orange;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  resize: none;
  width: 350px;
  height: 180px;
  &.light {
    background-color: #fff;
  }
}

.closeModalBtn {
  color: red;
}

.errorMsg {
  color: red;
  font-size: 16px;
  line-height: 22px;
  width: 300px;
}

.descGroup {
  display: flex;
  column-gap: 5px;
}

.imageNotification {
  display: none;
}

.labelImage {
  color: #fff;
  font-weight: 700;
  padding: 10px;
  background-color: $violet;
  border-radius: 10px;
}

.labelCheckbox {
  display: flex;
  justify-content: space-between;
}

.containerCheckbox {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  &.light {
    color: #000;
  }
}

.containerCheckbox input {
  display: none;
}

.containerCheckbox svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: white;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
  &.light {
    stroke: #000;
  }
}

.checked {
  stroke: $green;
}

.containerCheckbox input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
