@import '../../app/variable.module.scss';

.navbar {
  display: flex;
  min-width: 100vh;
  align-items: center;
  justify-content: space-between;
  background-color: #212121;
  height: 60px;
  border-bottom: 2px solid #000;
  padding: 15px;
  &.light {
    border: none;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.8);
    background-color: #fff;
  }
}

.logoText {
  color: white;
  font-size: 28px;
  margin-right: auto;
  display: flex;
  column-gap: 10px;
  &.light {
    color: #000;
  }
}

.logo {
  color: $blue;
  font-size: 40px;
}

.username {
  color: $violet;
  padding: 0 5px;
  border-radius: 5px;
}

.store_name {
  padding: 0 5px;
  font-size: 14px;
}

.menu_text {
  color: red;
  margin-right: 10px;
}

.dots {
  font-size: 25px;
  margin: 5px;
  &.light {
    color: $grey;
  }
}

.icon {
  font-size: 30px;
  color: red;
}

.store_name {
  padding: 5px;
  background-color: $violet;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
}

.menu_list {
  display: flex;
  flex-direction: column;
  &.light {
    background-color: #fff;
  }
}

.menu_item {
  background-color: $black;
  display: flex;
  align-items: baseline;
  column-gap: 30px;
  height: 50px;
  &.light {
    background-color: #fff;
  }
}

.menu_item:hover {
  background-color: $grey;
  &.light {
    background-color: $lightgrey;
  }
}

.menu_item__title {
  color: #fff;
  &.light {
    color: $black;
  }
}

.language {
  display: flex;
  column-gap: 10px;
  padding: 5px;
  border-radius: 10px;
}

.language_item {
  font-size: 25px;
  padding: 0 3px;
  &.checked {
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: $grey;
    transition: all 0.3s;
    &.light {
      background-color: $blue;
    }
  }
}

.language_item:hover {
  border-radius: 5px;
  background-color: $black;
  &.light {
    background-color: #fff;
  }
}
