@import '../../app/variable.module.scss';

.card {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  height: 204px;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 20px;
  transition: all 0.2s;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 2px solid linear-gradient(45deg, rgba(9, 121, 38, 1) 13%, rgba(0, 239, 255, 1) 72%);
  &.light {
    background-color: #fff;
    color: #000;
  }
}

.card_title {
  font-size: 25px;
  font-weight: 800;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

.container_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.info_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status {
  display: flex;
  column-gap: 5px;
  background-color: $grey;
  padding: 5px;
  border-radius: 5px;
}

.creation_date {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
