@import '../../../app/variable.module.scss';

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalTitle {
  font-size: 20px;
  margin-bottom: 20px;
  &.light {
    color: #000;
  }
}

.modalLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  &.light {
    background-color: #fff;
  }
}
