@import '../../app/variable.module.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: 30px;
  border-radius: 8px;
  &.add {
    color: $violet;
    &.light {
      border: 2px solid $blue;
      background-color: $blue;
      color: #fff;
    }
  }
  &.delete {
    color: red;
    &.light {
      background-color: red;
      color: #fff;
    }
  }
}

.add:hover {
  background-color: $grey;
  transition: all 0.3s ease-in-out;
}

.delete:hover {
  background-color: red;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
